# Node modules
node_modules/

# Logs
*.log

# Expo files
.expo/
.expo-shared/

# macOS
.DS_Store

# Environment variables
.env

# Android/Gradle
android/.gradle
android/app/build/

# iOS
ios/Pods/
ios/build/
